<!doctype html>
<html lang="pt_BR">

<head th:replace="~{/fragments/base :: headfiles('Autenticação', ~{::link})}">

    <link rel="stylesheet" th:href="@{/css/auth.css}">

</head>

<body>

    <form class="form-signin" method="POST" th:action="@{/auth/login}">
        <img alt="Logo do Bitbank" class="mb-4" th:src="@{/imagens/bitbank-logo.png}">
        <h1 class="h3 mb-3 font-weight-normal text-center">Por favor, autentique-se</h1>

        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.error} ">Login e/ou senha inválidos!</div>


        </div>

        <label class="sr-only" for="username">Login</label>
        <input autofocus class="form-control input-login" id="username" name="username" placeholder="Login" required type="text">

        <label class="sr-only" for="password">Senha</label>
        <input class="form-control input-login" id="password" name="password" placeholder="Senha" required type="password">

        <div class="checkbox mb-3">
            <label> <input type="checkbox" value="lembrar">
                Lembrar-me
            </label>
        </div>
        <button class="btn btn-lg btn-primary" type="submit">Entrar</button>
    </form>

</body>

</html>