<!DOCTYPE html>
<html lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:insert="~{layout/layout}">
<head th:replace="~{fragments/base :: head}"></head>
<body class="d-flex">
    <div th:replace="~{fragments/base :: menuLateral}"></div>

    <div class="w-100 p-3 card border-0 ">
        <div class="border w-100 rounded-2 p-2 card-header">
            <form action="" class="d-flex">
                <input class="form-control col" type="text" placeholder="Nome do usuario">
                <input class="form-control mx-2 col" type="text" placeholder="Matricula">
                <select class="form-select col" aria-label="Default select example">
                    <option selected hidden>Tipo do usuario</option>
                    <option value="0">Professor</option>
                    <option value="1">Coordenador</option>
                    <option value="2">Aluno</option>
                    <option value="3">Admin</option>
                </select>
                <a class="btn btn-primary ms-2" th:href="@{/usuario/novo}" role="button">Novo usuario</a>
            </form>
        </div>
        <div class="card-body p-0 pt-2">
            <ul class="list-group">
                <li th:each="usuario : ${usuarios}" class="list-group-item d-flex align-items-center">
                    <div class="matricula border-end me-2 pe-2">[[${usuario.matricula}]]</div>
                    <div class="foto border-end me-2 pe-2">foto</div>
                    <div class="usuario border-end me-2 pe-2">[[${usuario.nome}]]</div>
                    <div class="roles me-2 pe-2" >Roles</div>
                    
                    <div class="ms-auto">
                        <a th:href="@{'/usuario/editar/'+${usuario.id}}" class="btn btn-primary btn-sm" role="button" aria-disabled="true">
                            <span class="material-symbols-outlined">edit</span>
                        </a>
                        
                    </div>
                </li>
            </ul>
        </div>
        <div class="card-footer rounded-2 border p-1">
            <nav aria-label="Page navigation example " class="d-flex justify-content-center">
                <ul class="pagination m-0">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
            </nav>
        </div>
        

    </div>
    
    <script th:replace="~{fragments/base :: scriptjs}"></script>
</body>
</html>